

<!DOCTYPE html>
<html lang="en">
{{template "header" .}}

<body>



 <div class="container">
     <div class="row justify-content-center">
         <div class="col-8">
             <ul class="list-group">
                 {{range .}}
                 <a href="#" class="list-group-item list-group-item-action flex-column align-items-start border border-bottom-0">
                     <div class="d-flex flex-row justify-content-center">
                         <li id=g{{.Id}} class="list-group-item p-2">{{.Email}}</li>
                         <button class="btn btn-primary p-2">Edit</button>
                         <button class="btn btn-primary p-2">Delete</button>
                     </div>
                 </a>
                 {{end}}
             </ul>
         </div>
     </div>
 </div>
<style>
    #g1 {
        background-color: beige;
    }
</style>
 {{template "script" .}}
</body>
</html>